{% extends "layout.html" %}

{% block title %}
AnaSayfa
{% endblock %}




  {% block body %}

<div class="container content">
  
  <div class="topContainer">

    <div class="leftBox">
     
      <p style="font-size: 72px;">{{'{0:0.0f}'.format(veri.consolidated_weather[0].the_temp)}} ° </p>
      
      <div class="leftBottomBox">
      <p style="font-size: 20px;">Max: {{'{0:0.0f}'.format(veri.consolidated_weather[0].max_temp)}} °C</p> &nbsp;&nbsp;&nbsp;&nbsp;
      <p style="font-size: 20px;">Min: {{'{0:0.0f}'.format(veri.consolidated_weather[0].min_temp)}} °C</p>
      </div>
    </div>

    <div class="rightBox" >
      <p>{{veri.title}}</p> 
    </div>

  </div>


  <div class="icons">
    <p><img src="https://img.icons8.com/windows/32/ffffff/show-space-warps.png"/> <br> Görüş Mesafesi: {{'{0:0.0f}'.format(veri.consolidated_weather[0].visibility)}} km</p>
    <p><img src="https://img.icons8.com/ios-glyphs/30/ffffff/wind--v1.png"/> <br> Rüzgar Hızı: {{'{0:0.0f}'.format(veri.consolidated_weather[0].wind_speed)}} km/sa</p>
    <p><img src="https://img.icons8.com/fluency-systems-regular/32/ffffff/atmospheric-pressure.png"/> <br> Basınç : {{'{0:0.0f}'.format(veri.consolidated_weather[0].air_pressure)}} hPa</p>
    <p><img src="https://img.icons8.com/material-outlined/32/ffffff/humidity.png"/> <br> Nem : % {{'{0:0.0f}'.format(veri.consolidated_weather[0].humidity)}}</p>

  </div>

  <div class="bottomContainer">
    <div>
        <p>{{veri.consolidated_weather[1].applicable_date}}</p>
        <p><img src="https://www.metaweather.com//static/img/weather/png/{{veri.consolidated_weather[1].weather_state_abbr}}.png" alt=""></p>
        <p>{{'{0:0.0f}'.format(veri.consolidated_weather[1].the_temp)}} ° </p>
      </div>

      <div>
        <p>{{veri.consolidated_weather[2].applicable_date}}</p>
        <p><img src="https://www.metaweather.com//static/img/weather/png/{{veri.consolidated_weather[2].weather_state_abbr}}.png" alt=""></p>
        <p>{{'{0:0.0f}'.format(veri.consolidated_weather[2].the_temp)}} ° </p>
      </div>

      <div>
        <p>{{veri.consolidated_weather[3].applicable_date}}</p>
        <p><img src="https://www.metaweather.com//static/img/weather/png/{{veri.consolidated_weather[3].weather_state_abbr}}.png" alt=""></p>
        <p>{{'{0:0.0f}'.format(veri.consolidated_weather[3].the_temp)}} ° </p>
      </div>

      <div>
        <p>{{veri.consolidated_weather[4].applicable_date}}</p>
        <p><img src="https://www.metaweather.com//static/img/weather/png/{{veri.consolidated_weather[4].weather_state_abbr}}.png" alt=""></p>
        <p>{{'{0:0.0f}'.format(veri.consolidated_weather[4].the_temp)}} ° </p>
      </div>

      <div>
        <p>{{veri.consolidated_weather[5].applicable_date}}</p>
        <p><img src="https://www.metaweather.com//static/img/weather/png/{{veri.consolidated_weather[5].weather_state_abbr}}.png" alt=""></p>
        <p>{{'{0:0.0f}'.format(veri.consolidated_weather[5].the_temp)}} ° </p>
      </div>
      
    </div>

    
  </div>


</div>
{% endblock %}

  