{% extends "layout.html" %}

{% block title %}
AnaSayfa
{% endblock %}


  {% block body %}

<div class="container content">
  
  <div class="topContainer">

    <div class="leftBox">
     
      <p style="font-size: 72px;">{{res.result[0].degree|int}} ° </p>
      
      <div class="leftBottomBox">
      <p style="font-size: 20px;">Max: {{res.result[0].max|int}} °C</p> &nbsp;&nbsp;&nbsp;&nbsp;
      <p style="font-size: 20px;">Min: {{res.result[0].min|int}} °C</p>
      </div>
    </div>

    <div class="rightBox" >
      <p>{{city}}</p> <br>
      <p style="font-size: 20px;">Tarih : {{res.result[0].date}}</p>
    </div>

  </div>


  <div class="icons">
    <p><img src="https://img.icons8.com/windows/32/ffffff/show-space-warps.png"/> <br> Hava Durumu: {{res.result[0].description}}</p>
    <p><img src="https://img.icons8.com/ios-glyphs/30/ffffff/wind--v1.png"/> <br> Gece Sıcaklığı: {{res.result[0].night | int }} °C</p>
    <p><img src="https://img.icons8.com/material-outlined/32/ffffff/humidity.png"/> <br> Nem : % {{res.result[0].humidity | int}}</p>

  </div>

  <div class="bottomContainer">
    
    {% for i in range(1, res.result|count-1) %}
    
    <div>
      <p>{{res.result[i].day}}</p>
      <p><img src="{{res.result[i].icon}}" alt=""></p>
      <p>{{res.result[i].degree|int}} ° </p>
    </div>
  
    {% endfor %}

  </div>

    
  </div>


</div>
{% endblock %}

  